---
import Layout from "../../layouts/Layout.astro";
import CollabFrame from "../../components/CollabFrame.astro";

const sections = [
    // {
    //     title: "Featured Artists",
    //     items: [
    //         { name: "", photo: "", alt: "" },
    //         { name: "", photo: "", alt: "" },
    //         { name: "", photo: "", alt: "" },
    //     ],
    // },
    // {
    //     title: "House Band Musicians",
    //     items: [
    //         { name: "", photo: "", alt: "" },
    //         { name: "", photo: "", alt: "" },
    //         { name: "", photo: "", alt: "" },
    //     ],
    // },
    // {
    //     title: "Visual Collaborators",
    //     items: [
    //         { name: "", photo: "", alt: "" },
    //         { name: "", photo: "", alt: "" },
    //         { name: "", photo: "", alt: "" },
    //     ],
    // },
    // {
    //     title: "Art Workers",
    //     items: [
    //         { name: "", photo: "", alt: "" },
    //         { name: "", photo: "", alt: "" },
    //         { name: "", photo: "", alt: "" },
    //     ],
    // },
    {
        title: "Venue",
        items: [
            {
                name: "The Bearded Tit",
                photo: "/src/assets/images/collaborators/venue/beardedTit.webp",
                alt: "The Bearded Tit",
            },
            {
                name: "Brand X - City of Sydney Creative studios",
                photo: "/src/assets/images/collaborators/venue/brandX.webp",
                alt: "Brand X - City of Sydney Creative studios",
            },
        ],
    },
    {
        title: "Catering",
        items: [
            {
                name: "Auntie Wombat",
                photo: "/src/assets/images/collaborators/catering/auntieWombat.webp",
                alt: "Auntie Wombat",
            },
        ],
    },
];
---

<Layout>
    <div class="w-max-screen h-full flex flex-col items-center">
        {
            sections.map((section) => (
                    <h2 class="text-4xl p-4 uppercase">{section.title}</h2>
                    <div class="flex flex-row">
                        {section.items.map((member) => (
                            <div class="flex flex-col p-4">
                                <CollabFrame
                                    src={member.photo}
                                    alt={member.alt}
                                />
                                <p class="flex justify-center">{member.name}</p>
                            </div>
                        ))}
                    </div>
            ))
        }
    </div>
</Layout>
