---
import Layout from "../../layouts/Layout.astro";
---
<Layout>
    <h2 class="max-w-screen h-full text-4xl p-4 text-center uppercase ">Who We Are</h2>
    <div class="flex flex-col items-center">
        <div class="w-full aspect-[21/9] flex items-center justify-center">
            <h2> Trailer Soon</h2>
        </div>
        <p class="p-6 md:px-20 mt-4 pb-10 whitespace-pre-line text-justify">
            Sound Sorcery is a women & trans-led coven dedicated to breaking the spell of homogeneity in existing live music spaces. Our mission is to invoke magickal music events that uplift and amplify marginalised creatives, voices & players in live music, filling more stages and venues with sounds that have historically been silenced: women, lgbtqia+, qtpoc and bipoc. 

            Sound Sorcery conjures opportunities for training, connection, and community healing, demonstrating an exciting alternative to tired and ingrained systemic prejudices that persists in live music, particularly in jazz. 
            
            At Sound Sorcery, musicians of all levels can come together in the spirit of curiosity, mutual respect and rebellion, inspiring audiences to do the same. 
        </p>
    </div>
    
</Layout>