@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

@theme {
    --color-light-pink: #dcc9e8;
    --color-pink: #c38bc0;
    --color-dark-pink: #8d5d8a;
    --color-mauve: #593757;
    --color-offwhite: #fcf2f8;
    --color-peach: #ff9598;
    --color-dark-green: #09372f;
    --color-green: #0c5a4d;
    --color-mint-green: #d3f2eb;
}


h1 {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 700;
}

h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #593757;
}

p {
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
}