@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

@theme {
    --color-light-pink: #dcc9e8;
    --color-pink: #c38bc0;
    --color-dark-pink: #8d5d8a;
    --color-mauve: #593757;
    --color-offwhite: #fcf2f8;
    --color-peach: #ff9598;
    --color-dark-green: #09372f;
    --color-green: #0c5a4d;
    --color-mint-green: #d3f2eb;
}


h1 {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 700;
}

h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #593757;
}

p {
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
}

@plugin "daisyui/theme" {
    name: "sound";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: #dcc9e8;
    --color-base-200: #0c5a4d;
    --color-base-300: #c38bc0;
    --color-base-content: #593757;
    --color-primary: #8d5d8a;
    --color-primary-content: #fcf2f8;
    --color-secondary: #ff9598;
    --color-secondary-content: #593757;
    --color-accent: #c6fff2;
    --color-accent-content: #09372f;
    --radius-selector: 1rem;
    --radius-field: 2rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}