---
import Layout from "../layouts/Layout.astro";
import Substack from "../components/Substack.astro";
---

<Layout>
    <div class="w-max-screen h-full flex flex-col items-center gap-2">
        <!-- <h2 class="text-4xl p-4 uppercase">Blog</h2> -->
        <div class="w-4/5 h-4/5 mb-10">
            <Substack />
        </div>
    </div>
</Layout>
