---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import donate from "../assets/images/others/donate.webp";
import Kofi from "../components/Kofi.astro";

const donation = [
    "$25 keeps our event free for an audience member or jammer, removing financial barriers.",
    "$50 pays to subsidise riders for musicians so they can enjoy a beverage on the house.",
    "$100 pays the mentoring fee for our soundie to mentor an aspiring sound-tech.",
    "$260 pays for one female/gender diverse musician in the house band.",
    "$300 pays for the discount hire of a queer-friendly venue for a training workshop.",
    "$350 pays for our sound engineer to live mix one Sound Sorcery Jam.",
    "$500 pays for a half-day workshop mentor fee!",
    `$750 makes a half-day workshop possible with catering. <a href="/projects/free-workshops"><strong>Learn more about our workshops!</strong></a>`,
];
---

<Layout>
    <div class="w-max-screen h-full flex flex-col items-center justify-center">
        <h2 class="text-4xl p-4 uppercase">Donate</h2>
        <div class="flex flex-col lg:flex-row items-center gap-12 p-4 px-12 md:px-20">
            <Image
                src={donate}
                alt="Sound Sorcery logo"
                class="rounded-md"
                loading="eager"
                width="500"
                height="500"
            />
            <div class="flex flex-col">
                <div class="p-4">
                    <h3 class="max-sm:text-center pb-4">
                        Help fund our future projects, events and workshops!
                    </h3>
                    {donation.map((item) => <p class="max-sm:text-justify"><Fragment set:html={item} /></p>)}
                </div>
                <div class="flex max-sm:justify-center sm:pl-4">
                    <Kofi />
                </div>
            </div>
        </div>
        <p class="flex justify-center pt-10 pb-4">Keen to become a sponsor?</p>
        <div class="flex justify-center pb-10">
            <button
                type="submit"
                class="bg-pink text-offwhite px-6 py-2 rounded-lg hover:bg-dark-pink focus:outline-none uppercase"
            >
                <a
                    href="../../public/Partnership-Opportunities-2025.pdf"
                    rel="nofollow noopener noreferrer"
                    referrerpolicy="no-referrer"
                    download
                    class="font-semibold pdf-link"
                    >Download our partnership document
                </a>
            </button>
        </div>
    </div>
</Layout>
