---
import Layout from '../layouts/Layout.astro';

---

<!doctype html>
<html lang="en">
    <body>
        <p>
            We work on Gadigal country, and their Elders, past and present, have
            lived with this land for millennia. Only through acknowledging their
            wisdom and unbroken connection to this place, deep listening and
            informed action, can we hope to move forward. Respect and thanks,
            always.
        </p>
        <button>
            Enter
        </button>
    </body>
</html>
