---
import Logo from "./Logo.astro";
---

<footer class="bg-pink relative">
    <div class="flex flex-col-reverse sm:flex-row p-5 gap-4 decoration-mauve sm:justify-between sticky bottom-0">
        <div class="max-w-screen flex flex-col gap-8 sm:justify-around sm:items-start items-center">
            <h3 class="text-justify pt-4">
                Sound Sorcery acknowledges the Gadigal people of the Eora Nation
                as the traditional owners of the land on which we meet. We pay
                our respects to Elders past and present. Sovereignty was never
                ceded.
            </h3>
            <p class="text-xs text-start">
                Website by <a
                    href="https://ashsahu.com"
                    target="_blank"
                    class="font-medium">Ash Sahu</a
                >
            </p>
        </div>
        <div class="flex flex-col flex-nowrap items-center px-4">
            <div class="w-[80px] h-[80px]">
                <Logo width={100} height={100} />
            </div>
            <a href="/contact" class="text-mauve font-semibold text-nowrap"> Contact Us</a>
        </div>
    </div>
</footer>
