---
import { Image } from "astro:assets";
const { width, height } = Astro.props;
---

<div class="flex">
        <Image
            src="/src/assets/images/logos/soundsorcery.webp"
            alt="Sound Sorcery logo"
            class="rounded-md"
            loading="eager"
            {width}
            {height}
        />
</div>
