---
import { Image } from "astro:assets";
---

<div class="flex justify-end p-4 py-20">
    <a href="/">
        <Image
            src="/src/assets/soundsorcery.webp"
            alt="Sound Sorcery logo"
            width="320"
            height="320"
            class="rounded-md"
            loading="eager"
        />
    </a>
</div>
