---
import { Image } from "astro:assets";
const { width, height } = Astro.props;
import soundSorceryLogo from "../assets/images/logos/soundSorcery.webp"
---

<div class="flex">
        <Image
            src={soundSorceryLogo}
            alt="Sound Sorcery logo"
            class="rounded-md"
            loading="eager"
            {width}
            {height}
        />
</div>
