---

---

<div
    class="fixed right-0 top-1/2 -translate-y-1/2 bg-peach px-2 py-4 rounded-l-lg shadow-lg z-40"
>
    <ul class="space-y-4">
        <li>
            <a
                href="https://open.spotify.com/user/315dizgo7cjmmwrbo26uuov6lglu?si=dbc1b32a2c24400e"
                target="_blank"
                rel="noopener noreferrer"
                class="text-white hover:text-peach-200 transition-colors"
            >
                <img
                    src="/icons/spotify.svg"
                    alt="Spotify"
                    class="w-6 h-6"
                />
            </a>
        </li>
        <li>
            <a
                href="https://www.instagram.com/sound_sorcery_jam/"
                target="_blank"
                rel="noopener noreferrer"
                class="text-white hover:text-peach-200 transition-colors"
            >
                <img
                    src="/icons/instagram.svg"
                    alt="Instagram"
                    class="w-6 h-6"
                />
            </a>
        </li>
        <li>
            <a
                href="https://www.facebook.com/soundsorceryjam"
                target="_blank"
                rel="noopener noreferrer"
                class="text-white hover:text-peach-200 transition-colors"
            >
                <img
                    src="/icons/facebook.svg"
                    alt="Facebook"
                    class="w-6 h-6"
                />
            </a>
        </li>
        <li>
            <a
                href="https://youtube.com/playlist?list=PLg2UmI2bfBYD3DC2UMW6Sw9GjsMGytFxY&si=7QtO0QQYk2KQ-HRQ"
                target="_blank"
                rel="noopener noreferrer"
                class="text-white hover:text-peach-200 transition-colors"
            >
                <img
                    src="/icons/youtube.svg"
                    alt="YouTube"
                    class="w-6 h-6"
                />
            </a>
        </li>
        <li>
            <a
                href="https://soundsorceryjam.substack.com"
                target="_blank"
                rel="noopener noreferrer"
                class="text-white hover:text-peach-200 transition-colors"
            >
                <img
                    src="/icons/substack.svg"
                    alt="Substack"
                    class="w-5 h-5 ml-0.5"
                />
            </a>
        </li>
    </ul>
</div>
