<!-- <div id="substack-feed-embed"></div>

<script>
    window.SubstackFeedWidget = {
        // substackUrl: ".substack.com",
        posts: 7,
        layout: "right",
        colors: {
            primary: "#541616",
            secondary: "#B20505",
            background: "#A86E6E",
        },
    };
</script>
<script src="https://substackapi.com/embeds/feed.js" async></script> -->
