---
---

<div class="space-y-8">
    <div id="substack-feed-embed"></div>

    <script is:inline>
        window.SubstackFeedWidget = {
            substackUrl: "soundsorceryjam.substack.com",
            posts: 8,
            colors: {
                primary: "#8D5D8A",
                secondary: "#593757",
                background: "#DCC9E8",
            },
        };
    </script>
    <script is:inline src="https://substackapi.com/embeds/feed.js" async></script>
</div>
