<div id="substack-feed-embed"></div>

<script>
    // @ts-ignore
    window.SubstackFeedWidget = {
        substackUrl: "https://soundsorcery.substack.com",
        posts: 6,
        colors: {
            primary: "#8D5D8A",
            secondary: "#593757",
            background: "#DCC9E8",
        },
    };
</script>
<script src="https://substackapi.com/embeds/feed.js" async></script>
