---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Socials from "../components/Socials.astro";

const { bgColor = 'bg-light-pink' } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Sound Sorcery</title>
		<meta
			name="description"
			content="Bi-monthly jam for women & gender diverse baddies in Gadigal Country"
		/>
	</head>
	<body class={`min-h-screen flex flex-col ${bgColor}`}>
		<div class="flex-grow">
		<Navbar />
		<Socials />
			<slot />
		</div>
		<Footer />
	</body>
</html>
